<div class="modal-header">
    <h3 class="modal-title">
        <div class="avatars">
            <img class="avatar" data-ng-src="{{ ::issue.author.avatar_url }}" data-ng-if="issue.author.avatar_url" data-tooltip-trigger data-tooltip="{{ ::issue.author.name }}"/>
            <img class="avatar" data-gravatar-src="::issue.author.email" data-gravatar-size="100" data-ng-if="issue.author.email" data-tooltip-trigger data-tooltip="{{ ::issue.author.name }}"/>

            <div class="box" data-ng-class="{in: !issue.assignee}">
                <img class="avatar assignee" data-ng-src="{{ issue.assignee.avatar_url }}" data-ng-if="issue.assignee.avatar_url"/>
                <img class="avatar assignee" data-gravatar-src="issue.assignee.email" data-gravatar-size="100" data-ng-if="issue.assignee.email"/>
            </div>
        </div>

        <a href="/gitlab/{{ project.path_with_namespace }}/issues/{{ ::issue.iid }}" target="_blank">
            <strong>#{{ ::issue.iid }}</strong> <span data-ng-bind-html="issue.title | reference"></span>
        </a>
    </h3>
</div>
<div class="modal-body">
    <p class="description"data-ng-bind-html="(issue.description ? issue.description : issue.title)|referenceMarkdown"></p>
</div>
<div class="modal-footer">
    <div class="labels pull-left">
        <span class="label label-default" data-ng-repeat="tag in issue.tags" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
    </div>

    <div class="pull-right">
        Created <moment datetime="::issue.created_at" data-tooltip-trigger data-tooltip="{{ ::issue.created_at|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment>
        <span data-ng-if="issue.milestone">
            and planned for <strong>{{ issue.milestone.title }}</strong>
            <small><moment datetime="issue.milestone.due_date" data-tooltip-trigger data-tooltip="{{ issue.milestone.due_date|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment></small>
        </span>
    </div>
</div>
